body, html {
	height: 100%;
  }
  
  .bg {
	background-image: url("../images/Basketball_edited2.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

h1 {
    color: #ffffff;
    text-align: center;
    font-family: 'Bungee Inline', cursive;
    font-size: 80px;
    margin-top: 10px; 
}

h4 {
    color: #bdbbbb;
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 30px;
}

p {
    color: #bdbbbb;
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 30px;  
}

.container {
    text-align: center;
    margin: 0 auto;
}

#currentWord {
    letter-spacing: 10px;
} 